body {
    margin: 0;
}
section.col {
    width: 33%;
    float: left;
}
ssection.row {
    background-color: yellow;
}
header,footer {
    background-color: gray;
    color: white;
    overflow: hidden;  
    width: 100%;
}

div#content {
    margin: 10px;
}
