body {
    margin: 0;
}
section.col {
    background-color: yellow;
     width: 33%;
    float: left;
}
header,footer {
    background-color: gray;
    color: white;
    overflow: hidden;  
    width: 100%;
}

div#content {
    margin: 10px;
}
